[alias]
  br = branch
  ck = checkout
  st = status
  gr = log --graph
[core]
	editor = nvim
  ignorecase = false
[push]
	default = current
[pull]
	default = current
	rebase = true
[init]
	defaultBranch = master
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[user]
  name = "Johnny Huang"
  email = "johnny"
